{
  "printWidth": 120,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "*.json",
        ".babelrc",
        ".eslintrc",
        ".prettierrc"
      ],
      "options": {
        "tabWidth": 2,
        "parser": "json"
      }
    }
  ]
}
